body {
  background-color: lightyellow;
}

img {
  /* width: 30%; */
  margin: 0 auto;
  width: 400px;
	margin-left: 400px;
	margin-bottom: 25px;
}

nav {
  margin-left: 1px;
  padding-left: 1px;
}

nav li {
  font-family: sans-serif;
  font-size: 15px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
}

h1 {
  color: brown;
  font-size: 50px;
  padding-bottom: 20px;
}

h2 {
  font-family: Georgia;
  color: peru;
  font-size: 30px;
  padding-top: 20px;
	padding-left: 150px;
}

h3 {
  font-family: Verdana;
  color: peru;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 65px;
  padding-bottom: 15px;
}

.story {
  font-family: Times;
  font-size: 20px;
  margin: 5px 172px 15px 172px;
}

ul {
  list-style: circle;
  font-family: Arial;
  font-size: 25px;
  font-weight: normal;
  color: brown;
  margin-left: 95px;
}

li p {
  padding-top: 5px;
  margin-left: 5px;
  font-family: Times;
}

ul li {
  padding-top: 15px; 
  margin-left: 0px;
  font-size: 20px;
  font-weight: normal;
  color: black;
}

section img {
  margin-left: 350px;
  margin-top: 50px;
}

div {
  font-family: Arial;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 35px;
}

.back-color {
  background-color: rgb(216, 190, 156);
  padding-bottom: 10px;
}

.content-wrap {
  margin: 0 auto;
  padding-left: 20px;
  overflow: hidden;
  background-color: rgba(165, 42, 42, 0.596);
}

.family-img {
  width: 500px;
  float: left;
  margin-left: 5px;
  padding-right: 15px;
  /* border: 3px solid red; */
}

.family-paragraph {
  font-family: Times;
  padding-top: 15px;
  margin-left: 100px;
  margin-right: 200px;
  /* border: 3px solid blue; */
}

.hours {
  list-style: none;
  font-family: Times;
}

.locations {
  list-style: square;
  font-family: Times;
}

.merch {
  margin-left: 350px;
  margin-top: 15px;
}

.merchandise-img { 
  width: 300px;
  overflow: auto;
  border: 2px solid gray;
  margin: 0 auto;
}

.main-title {
  font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color: white;
  text-align: center;
	padding-top: 20px;
	margin-bottom: 15px;
}

.nav-margin {
  margin-left: 1px;
}

/* Header and Footer
---------------------------- */
footer {
  margin-bottom: 50px;
}

footer li {
  margin-left: 82px;
}

/* Table
---------------------------- */
table {
  border: 2px solid black;
  border-collapse: collapse;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-left: 10px;
}

table, th, td {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

th {
  font-family: Georgia;
  color: black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  height: 25px;
  text-align: center;
  background-color: tan;
}

td {
  font-family: Arial;
  text-align: center;
  height: 25px;
  padding-top: 5px;
  /* background: white; */
}

tr {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid black;
}

tr:nth-child(even) {
  background-color: lightgray;
}